In [22]:
# Import Dependencies
import pandas as pd
import numpy as np

In [23]:
# Files to Load
file_to_load = "Resources/purchase_data.csv"

In [24]:
# Read csv/Store into Pandas
purchase_data = pd.read_csv(file_to_load)

In [25]:
# Total Players
total = len(purchase_data["SN"].unique())
total_players = pd.DataFrame({"Total Players": total}, index=[0])
total_players

   Total Players
0            576

In [26]:
# Purchase Analysis

# Items
items = purchase_data["Item Name"].unique()

# Count Unique Items
item_count = len(purchase_data["Item Name"].unique())

# Calculate Average Price
avg_price = purchase_data["Price"].mean()

# Total Purchases
purchases = purchase_data["Item Name"].count()

# Total Revenue
total_revenue = purchase_data["Price"].sum()

# Summary
summary = pd.DataFrame({"Number of Unique Items": [item_count],
                        "Average Price": avg_price,
                        "Number of Purchases": purchases,
                        "Total Revenue": total_revenue})

# Format Average Price & Total Revenue
summary["Average Price"] = summary["Average Price"].astype(float).map("${:,.2f}".format)
summary["Total Revenue"] = summary["Total Revenue"].astype(float).map("${:,.2f}".format)
summary.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [27]:
# Gender Demographics

# Group By Gender
gender_group = purchase_data.groupby(["Gender"])
unique_gender = gender_group.nunique()

# Count Players
count = unique_gender["SN"].unique()

# Get Total
gender_total = unique_gender["SN"].sum()

# Get Percentage
percentage = unique_gender["SN"]/gender_total

# Gender Summary
gender_summary = pd.DataFrame({"Total Count": count,
                               "Percentage of Players": percentage})

# Format Percentage
gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].map("{:,.2%}".format)
gender_summary

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [28]:
# Count Purchases
purchase_count = gender_group["Gender"].count()

# Average Purchase Price
avg_purchase_price = gender_group["Price"].mean()

# Total Purchase Value
total_purchase_value = gender_group["Price"].sum()

# Average Purchase Total/Person/Gender
avg_purchase_total = total_purchase_value / count

# Gender Purchasing Analysis
gender_purchase_analysis = pd.DataFrame({"Purchase Count": purchase_count, 
                                        "Average Purchase Price": avg_purchase_price,
                                        "Total Purchase Value": total_purchase_value,
                                        "Avg Purchase Total/Person/Gender": avg_purchase_total})

# Format
gender_purchase_analysis["Average Purchase Price"] = gender_purchase_analysis["Average Purchase Price"].map("${:,.2f}".format)
gender_purchase_analysis["Total Purchase Value"] = gender_purchase_analysis["Total Purchase Value"].map("${:,.2f}".format)
gender_purchase_analysis["Avg Purchase Total/Person/Gender"] = gender_purchase_analysis["Avg Purchase Total/Person/Gender"].map("${:,.2f}".format)
gender_purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total/Person/Gender
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [45]:
# Age Demographics

age_demo = pd.DataFrame(purchase_data[{"Age", "SN"}])
age_demo

     Age             SN
0     20        Lisim78
1     40    Lisovynya38
2     24     Ithergue48
3     24  Chamassasya86
4     23      Iskosia90
..   ...            ...
775   21     Aethedru70
776   21         Iral74
777   20     Yathecal72
778    7        Sisur91
779   24      Ennrian78

[780 rows x 2 columns]